### Specify files and folders that should not be uploaded

## leave out the content of `output`
output/stereo/image/*
output/stereo/video/*
output/detection/yolov5/*

## remove __pycache__
**/__pycache__

## cancel upload model
data/pretrained/*

## remove .ipynb test files
*.ipynb