### Specify files and folders that should not be uploaded

## leave out the content of `output`
output/*

## remove __pycache__
**/__pycache__

## cancel upload model
data/pretrained/*

## remove .ipynb test files
*.ipynb

## remove panda test
data/demo/panda/split/*